* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro';
    font-style: normal;
}

nav {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.hi-emoji {
    content: '';
    animation: shake 1.3s infinite;
    -webkit-animation: shake 1.3s infinite;
    align-self: start;
}

.socials {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.lg-screen-nav .menu-links,
.sm-screen-nav {
    display: none;
}

.nav-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(142, 233, 233);
    border-radius: 50%;
    padding: 5px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: unset;
    width: calc(100% - 48px);
    max-width: 1248px;
    margin: 0 auto;
    position: relative;
    padding: 150px 0 100px 0;
}

.hero h1 {
    font-weight: 900;
    font-size: 40.32px;
    line-height: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #111111;
    text-align: center;
    margin-bottom: 16px;
    /* width: 350px; */
}

.hero p {
    font-weight: 400;
    font-size: 17.92px;
    line-height: 29px;
    text-align: center;
    color: #333333;
    margin-bottom: 44px;
}

.nav-logo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.lg-screen-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sm-screen-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 20;
}

.sm-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sm-screen-nav .menu-links li {
    list-style: none;
}

.sm-screen-nav .menu-links {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 20px;
    margin-top: 20px;
}

.sm-screen-nav img,
.lg-screen-nav img {
    width: 20px;
    aspect-ratio: 1;
}

.nav-image img {
    width: 30px;
}

.btn-primary {
    border: none;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    background-color: rgb(142, 233, 233);
    margin: 10px;
}

.menu-links li a {
    font-weight: 700;
    font-size: 16.64px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}

.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18.72px;
    line-height: 28px;
    text-transform: uppercase;
    color: #333333;
}

.scroll-animation {
    width: 30px;
    height: 50px;
    border: 2px solid #333333;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    padding: 2px;
    position: relative;
    display: none;
}

.scroll-animation::before {
    content: '';
    background-image: url('./assets/down-arrow.png');
    background-size: 15px 15px;
    transform: rotate(90deg);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #333;
    border-radius: 50%; */
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

main {
    width: calc(100% - 48px);
    max-width: 1248px;
    margin: 0 auto;
    /* padding: 150px 0 100px 0; */
}

.section-header h1 {
    font-weight: 700;
    font-size: 41.6px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #111111;
}

.section-header hr {
    width: 30px;
    height: 5px;
    margin: 20px auto;
    background: rgb(142, 233, 233);
    border-radius: 5px;
    border: none;
}

.about-me p {
    font-weight: 400;
    font-size: 18.72px;
    line-height: 32px;
    color: #666666;
}

.skills {
    margin-top: 30px;
}

.skills h2 {
    font-weight: 700;
    font-size: 29.12px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.skills-grid {
    /* display: grid;
    grid-template-columns: repeat(4, 51px); */
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    max-width: 850px;
    margin: 0 auto;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.grid-item img {
    width: 50px;
    height: 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
}

.using-now h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

@keyframes shake {
    to {
        transform: rotate(30deg);
    }
}

@-webkit-keyframes shake {
    to {
        transform: rotate(30deg);
        /* left: 30px; */
    }
}

.project-tabs {
    display: flex;
    background: rgb(236, 234, 234);
    justify-content: center;
    border: 2px solid rgb(236, 234, 234);
    border-radius: 8px;
}

.project-tab {
    padding: 15px 15px;
    text-align: center;
    width: 100%;
    max-width: 170px;
    cursor: pointer;
}

.project-tab p {
    font-size: 20px;
}

.active-project {
    border-radius: 8px;
    background: white;
    box-shadow: 0 4 2 0 rgba(0, 0, 0, 0.1);
}

.single-project-projects {
    display: none;
}

.single-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.project-infooo {
    max-width: 400px;
}

.project-infooo .border {
    border: 2px solid grey;
    border-radius: 8px;

}

.project-infooo img {
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.project-infooo p {
    font-size: 20px;
    font-weight: 600;
}

.project-desc {
    max-width: 500px
}

footer {
    background-color: rgb(142, 233, 233);
    height: 100px;
    text-align: center;
    display: grid;
    place-items: center;
    margin-top: 100px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 550px) {
    nav {
        padding: 20px 52px;
    }

    .sm-screen-nav {
        display: none;
    }

    .lg-screen-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-links li {
        display: inline;
        margin-left: 62px;
        cursor: pointer;
    }

    .menu-links li a:hover {
        color: rgb(142, 233, 233);
    }

    #menu-icon {
        display: none;
    }

    .lg-screen-nav .menu-links {
        display: block;
    }

    .nav-logo p:hover {
        color: rgb(142, 233, 233);
        cursor: pointer;
    }

    .hero {
        padding: 0px;
    }

    .hero h1 {
        font-size: 62.4px;
        line-height: 94px;
        margin-bottom: 42px;
    }

    .hero p {
        font-size: 22.88px;
        line-height: 37px;
        margin-bottom: 32px;
    }

    .btn-primary {
        border-bottom: 2px solid rgb(142, 233, 233);
        background-color: rgb(142, 233, 233);
    }

    .single-project {
        flex-direction: row;
    }

    .project-tab {
        padding: 15px 30px;
    }

    footer {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    nav {
        padding: 20px;
    }

    .menu-links li {
        margin-left: 31px;
    }

    .hero {
        padding: 100px;
        height: 90vh;
    }

    main {
        padding: 100px;
    }

    .btn-primary {
        border: 2px solid white;
        border-bottom: 2px solid rgb(142, 233, 233);
        background: none;
        width: 200px;
        font-size: 17px;
    }

    .btn-primary:hover {
        border: 2px solid rgb(142, 233, 233);
        background-color: rgb(142, 233, 233);
    }

    .scroll-animation {
        display: flex;
        position: absolute;
        bottom: 30px;
    }

    .skills-grid {
        grid-template-columns: repeat(4, 75px);
        align-items: center;
    }

    .grid-item img {
        width: 65px;
        height: 65px;
        object-fit: contain;
    }

    .single-project {
        flex-direction: row;
    }

    .project-tab {
        padding: 15px 30px;
    }

    footer {
        margin: 0;
    }
}

/* 
* FOR DESKTOP 
*/

@media screen and (min-width: 1024px) {
    .hero {
        height: 100vh;
    }

    .skills-grid {
        grid-template-columns: repeat(4, 100px);
        gap: 70px;
    }

    .grid-item img {
        width: 100px;
        height: 100px;
    }

    .single-project {
        flex-direction: row;
    }

    .project-tab {
        padding: 15px 30px;
    }

    footer {
        margin: 0;
    }
}
